<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>添加分类</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../../static/lib/editmd/css/editormd.min.css">
  <link rel="stylesheet" href="../../static/css/mystyle.css">
</head>

<body style="background-image: url(../../static/images/htbg.png);">
  <!-- style="background-image: url(https://unsplash.it/1349/292?image=1073);" -->
  <!-- 导航部分 -->
  <!-- inverted 反色, attached将四个角变尖 -->
  <nav th:replace="admin/_fragments :: menu(2)" class="ui attached segment top-nav">

    <div class="ui secondary stackable menu m-center">
      <h3 class="ui orange header item">发表博客</h3>
      <a class="active control-hide item m-monile-hide"><i class="home icon"></i> 博客</a>
      <a class="control-hide item m-monile-hide"><i class="list layout icon"></i> 分类</a>
      <a class="control-hide item m-monile-hide"><i class="tag icon"></i> 标签</a>

      <div class="right menu control-hide m-monile-hide">
        <div class="ui orange dropdown item">
          <div class="text">
            <img src="https://unsplash.it/100/100?image=65" class="ui avatar image">
            jimli
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="#" class="item">注销</a>
          </div>
        </div>
      </div>

    </div>
    <a href="#" id="control-hide" class="ui icon button m-hide-position">
      <i class="server icon"></i>
    </a>
  </nav>

  <!-- 中间部分 -->
  <div class="m-padded-tb-three m-conteiner">
    <div class="ui container">

     <form action="#" method="post" th:action="*{type?.id}==null ? @{/admin/types/save} : @{/admin/types/edit/{id}(id=${type?.id})}" class="ui form">
      <input type="hidden" name="id" th:value="${type?.id}" />
      <!-- 分类名称 -->
      <div class="required field">
        <div class="ui left labeled input">
          <label class="ui orange basic label">分类名称</label>
          <input type="text" name="name" placeholder="分类名称" th:value="${type?.name}">
        </div>
      </div>

      <!-- 错误提示 -->
      <div class="ui error message"></div>

       <div class="ui negative message" th:unless="${#strings.isEmpty(tipMessage)}">
         <i class="close icon"></i>
         <div class="header">提示：</div>
         <p th:text="${tipMessage}">操作成功</p>
       </div>

      <div class="ui right aligned container">
        <!-- 点击返回上一个页面 -->
        <button class="ui orange basic button" type="button" onclick="window.history.go(-1)"><i class="reply icon"></i> 返回</button>
        <button class="ui teal submit button" onclick="setFlashMessage()"><i class="external alternate icon"></i> 提交</button>
      </div>

     </form>

    </div>

  </div>

  <div style="height: 200px;"></div>

  <!-- 底部 -->
  <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment footer-padding-max">
    <!-- container 定义一个容器 -->
    <div class="ui center aligned container">
      <!-- grid 将容器分为16个部分 -->
      <div class="ui stackable inverted divided grid">
        <!-- 设置分块， 分为四个模块， 设置每个模块的大小 -->
        <div class="three wide column">
          <img src="../../static/images/ewm.jpg" class="ui rounded image ewm-img" alt="">
        </div>

        <div class="three wide column">
          <h4 class="footer-text">最新博客</h4>
          <!-- link list ui数组， item就是它下面的每个子元素 -->
          <div class="ui inverted link list">
            <a href="" class="item">springboot配置详解</a>
            <a href="" class="item">mybatis深入</a>
            <a href="" class="item">vue快速入门</a>
            <a href="" class="item">用户故事集</a>
          </div>
        </div>

        <div class="three wide column">
          <h4 class="footer-text">联系我们</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Email : jimli@augmentum.com.cn</a>
            <a href="#" class="item">QQ : 1514866310</a>
          </div>
        </div>

        <div class="seven wide column">
          <h4 class="footer-text">介绍</h4>
          <p class="introduce-footer">这是我学习springboot时开发的一款基于springboot的个人博客项目， 需要学习的同学可以联系我一起来进行探讨交流</p>
        </div>
      </div>
      <!-- 一条分割线 -->
      <div class="ui inverted section divider"></div>
      <p class="footer-text">Development start time is @ 2020 - 4 - 25</p>
    </div>
  </footer>


  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <script type="text/javascript" src="../../static/js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <script src="../../static/lib/editmd/editormd.min.js"></script>
  <!--/*/</th:block>/*/-->

  <script>
    // 在小屏幕或者手机端时，点击隐藏和显示上面的菜单
    $("#control-hide").click(function () {
      // .toggleClass控制class的添加和移除
      $(".control-hide").toggleClass('m-monile-hide')
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    $('.ui.form').form({
      fields : {
        indexPicture : {
          identifier : 'name',
          rules : [{
            type : 'empty',
            prompt : '请输入分类名'
          }]
        },

      }
    });

    // 关闭消息提示
    $('.message .close').on('click', function () {
      $(this).closest('.message').transition('fade')
    });

  </script>

</body>

</html>