<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>归档</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../static/css/mystyle.css">
</head>

<body class="qt-bg">
  <!-- style="background-image: url(https://unsplash.it/1349/292?image=1073);" -->
  <!-- 导航部分 -->
  <!-- inverted 反色, attached将四个角变尖 -->
  <nav th:replace="_fragments :: menu(4)" class="ui teal attached segment top-nav">

    <div class="ui secondary stackable menu m-center">
      <!-- <h2 class="ui teal header item">博客</h2> -->
      <img src="../static/images/blog(1).png" alt="" class="ui rounded image logo-img">
      <a class="control-hide item m-monile-hide"><i class="home icon"></i> 首页</a>
      <a class="control-hide item m-monile-hide"><i class="list layout icon"></i> 分类</a>
      <a class="control-hide item m-monile-hide"><i class="tag icon"></i> 标签</a>
      <a class="active control-hide item m-monile-hide"><i class="clone icon"></i> 归档</a>
      <a class="control-hide item m-monile-hide"><i class="user icon"></i> 关于我</a>
      <!-- 搜索栏 -->
      <div class="control-hide right menu m-monile-hide">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
    <a href="#" id="control-hide" class="ui icon button m-hide-position">
      <i class="server icon"></i>
    </a>
  </nav>

  <!-- 中间部分 -->
  <div class="m-padded-tb-three m-conteiner">
    <div class="ui container">

      <!-- 头部 -->
      <div class="ui top attached padded segment">
        <!-- middle aligned 文字上下居中 -->
        <div class="ui middle aligned two column grid">
          <div class="column">
            <h3 class="ui teal header">归档</h3>
          </div>
          <div class="right aligned column">
            共<h3 class="ui orange header m-inline-block" th:text="${BlogCount}">&nbsp;14&nbsp;</h3>篇
          </div>
        </div>
      </div>

      <!-- 年份清单-->

      <th:block th:each="item : ${archvieMap}">
      <div class="ui teal top attached middle aligned mini segment">
        <h3 class="ui center aligned header" th:text="${item.key}">2018</h3>
      </div>
      <div class="ui attached fluid vertical menu">

        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" class="item" style="padding: 15px !important;" th:each="blog : ${item.value}">
          <!-- 这个item中默认将元素一左一右分开 -->
          <span>
            <i class="teal circle icon"></i>
            <span th:text="${blog.title}">关于Java的清单</span>
            <div th:text="${#dates.format(blog.updateTime, 'MMM-dd')}" class="ui teal basic left pointing label m-padded-tb-zero">3月2号</div>
          </span>
          <div class="ui orange basic label m-padded-tb-zero" th:text="${blog.flag}">原创</div>
        </a>

        <!--/*-->
        <!-- copy1 -->
        <a href="#" class="item">
          <!-- 这个item中默认将元素一左一右分开 -->
          <span>
            <i class="teal circle icon"></i>关于Java的清单
            <div class="ui teal basic left pointing label m-padded-tb-zero">3月2号</div>
          </span>
          <div class="ui orange basic label m-padded-tb-zero">原创</div>
        </a>

        <!-- copy2 -->
        <a href="#" class="item">
          <!-- 这个item中默认将元素一左一右分开 -->
          <span>
            <i class="teal circle icon"></i>关于Java的清单
            <div class="ui teal basic left pointing label m-padded-tb-zero">3月2号</div>
          </span>
          <div class="ui orange basic label m-padded-tb-zero">原创</div>
        </a>

        <!-- copy3 -->
        <a href="#" class="item">
          <!-- 这个item中默认将元素一左一右分开 -->
          <span>
            <i class="teal circle icon"></i>关于Java的清单
            <div class="ui teal basic left pointing label m-padded-tb-zero">3月2号</div>
          </span>
          <div class="ui orange basic label m-padded-tb-zero">原创</div>
        </a>
        <!--*/-->
      </div>
      </th:block>

      <!--/*-->
      <!-- 年份清单cpoy1 -->
      <div class="ui teal top attached middle aligned mini segment">
        <h3 class="ui center aligned header">2019</h3>
      </div>
      <div class="ui attached fluid vertical menu">
        <a href="#" class="item">
          <!-- 这个item中默认将元素一左一右分开 -->
          <span>
            <i class="teal circle icon"></i>关于Java的清单
            <div class="ui teal basic left pointing label m-padded-tb-zero">3月2号</div>
          </span>
          <div class="ui orange basic label m-padded-tb-zero">原创</div>
        </a>

        <!-- copy1 -->
        <a href="#" class="item">
          <!-- 这个item中默认将元素一左一右分开 -->
          <span>
            <i class="teal circle icon"></i>关于Java的清单
            <div class="ui teal basic left pointing label m-padded-tb-zero">3月2号</div>
          </span>
          <div class="ui orange basic label m-padded-tb-zero">原创</div>
        </a>

        <!-- copy2 -->
        <a href="#" class="item">
          <!-- 这个item中默认将元素一左一右分开 -->
          <span>
            <i class="teal circle icon"></i>关于Java的清单
            <div class="ui teal basic left pointing label m-padded-tb-zero">3月2号</div>
          </span>
          <div class="ui orange basic label m-padded-tb-zero">原创</div>
        </a>

        <!-- copy3 -->
        <a href="#" class="item">
          <!-- 这个item中默认将元素一左一右分开 -->
          <span>
            <i class="teal circle icon"></i>关于Java的清单
            <div class="ui teal basic left pointing label m-padded-tb-zero">3月2号</div>
          </span>
          <div class="ui orange basic label m-padded-tb-zero">原创</div>
        </a>
      </div>

      <!-- 年份清单cpoy2 -->
      <div class="ui teal top attached middle aligned mini segment">
        <h3 class="ui center aligned header">2020</h3>
      </div>
      <div class="ui attached fluid vertical menu">
        <a href="#" class="item">
          <!-- 这个item中默认将元素一左一右分开 -->
          <span>
            <i class="teal circle icon"></i>关于Java的清单
            <div class="ui teal basic left pointing label m-padded-tb-zero">3月2号</div>
          </span>
          <div class="ui orange basic label m-padded-tb-zero">原创</div>
        </a>

        <!-- copy1 -->
        <a href="#" class="item">
          <!-- 这个item中默认将元素一左一右分开 -->
          <span>
            <i class="teal circle icon"></i>关于Java的清单
            <div class="ui teal basic left pointing label m-padded-tb-zero">3月2号</div>
          </span>
          <div class="ui orange basic label m-padded-tb-zero">原创</div>
        </a>

        <!-- copy2 -->
        <a href="#" class="item">
          <!-- 这个item中默认将元素一左一右分开 -->
          <span>
            <i class="teal circle icon"></i>关于Java的清单
            <div class="ui teal basic left pointing label m-padded-tb-zero">3月2号</div>
          </span>
          <div class="ui orange basic label m-padded-tb-zero">原创</div>
        </a>

        <!-- copy3 -->
        <a href="#" class="item">
          <!-- 这个item中默认将元素一左一右分开 -->
          <span>
            <i class="teal circle icon"></i>关于Java的清单
            <div class="ui teal basic left pointing label m-padded-tb-zero">3月2号</div>
          </span>
          <div class="ui orange basic label m-padded-tb-zero">原创</div>
        </a>
      </div>
      <!--*/-->
    </div>

  </div>
  <div style="height: 100px;"></div>

  <!-- 底部 -->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment footer-padding-max">
    <!-- container 定义一个容器 -->
    <div class="ui center aligned container">
      <!-- grid 将容器分为16个部分 -->
      <div class="ui stackable inverted divided grid">
        <!-- 设置分块， 分为四个模块， 设置每个模块的大小 -->
        <div class="three wide column">
          <img src="../static/images/ewm.jpg" class="ui rounded image ewm-img" alt="">
        </div>

        <div class="three wide column">
          <h4 class="footer-text">最新博客</h4>
          <!-- link list ui数组， item就是它下面的每个子元素 -->
          <div class="ui inverted link list">
            <a href="" class="item">springboot配置详解</a>
            <a href="" class="item">mybatis深入</a>
            <a href="" class="item">vue快速入门</a>
            <a href="" class="item">用户故事集</a>
          </div>
        </div>

        <div class="three wide column">
          <h4 class="footer-text">联系我们</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Email : jimli@augmentum.com.cn</a>
            <a href="#" class="item">QQ : 1514866310</a>
          </div>
        </div>

        <div class="seven wide column">
          <h4 class="footer-text">介绍</h4>
          <p class="introduce-footer">这是我学习springboot时开发的一款基于springboot的个人博客项目， 需要学习的同学可以联系我一起来进行探讨交流</p>
        </div>
      </div>
      <!-- 一条分割线 -->
      <div class="ui inverted section divider"></div>
      <p class="footer-text">Development start time is @ 2020 - 4 - 25</p>
    </div>
  </footer>

  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <!-- 引入jquery 和 semantic -->
  <script type="text/javascript" src="../static/js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->

  <script>
    // 在小屏幕或者手机端时，点击隐藏和显示上面的菜单
    $("#control-hide").click(function () {
      // .toggleClass控制class的添加和移除
      $(".control-hide").toggleClass('m-monile-hide')
    })
  </script>

</body>

</html>