<?xml version="1.0" encoding="uTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wm.mapper.GoodsMapper">

    <insert id="add">
        insert into goods(goods_name, goods_type_id, goods_price, goods_img, create_time) values(#{goods_name}, #{goods_type}, #{goods_price}, #{goods_img}, now())
    </insert>

    <update id="update">
        update goods set goods_name = #{goods_name}, goods_type_id = #{goods_type}, goods_price = #{goods_price}, goods_img = #{goods_img}, update_time = now() where id = #{id}
    </update>

    <update id="wareHousing">
        update goods set wh_value = #{0}, num = #{2} where goods_name = #{1}
    </update>

    <update id="outStock">
        update goods set wh_value = #{0}, num = #{2} where goods_name = #{1}
    </update>

    <delete id="delete">
        delete from goods where id = #{0}
    </delete>

    <select id="findAll" resultType="com.wm.pojo.Goods">
        SELECT goods.id, goods.wh_value, goods.num, goods.create_time, goods.update_time, goods.goods_name, goods.goods_price, goods.goods_img, goods_type.goods_type FROM goods, goods_type WHERE goods.goods_type_id = goods_type.id
    </select>

    <select id="search" resultType="com.wm.pojo.Goods">
        SELECT goods.id, goods.wh_value, goods.num, goods.create_time, goods.update_time, goods.goods_name, goods.goods_price, goods.goods_img, goods_type.goods_type FROM goods, goods_type WHERE goods.goods_type_id = goods_type.id AND goods.goods_type_id = #{0} AND goods.goods_name = #{1}
    </select>

    <select id="searchByTypeId" resultType="com.wm.pojo.Goods">
        SELECT goods.id, goods.wh_value, goods.num, goods.create_time, goods.update_time, goods.goods_name, goods.goods_price, goods.goods_img, goods_type.goods_type FROM goods, goods_type WHERE goods.goods_type_id = goods_type.id AND goods.goods_type_id = #{0}
    </select>

    <select id="searchByGoodsName" resultType="com.wm.pojo.Goods">
        SELECT goods.id, goods.wh_value, goods.num, goods.create_time, goods.update_time, goods.goods_name, goods.goods_price, goods.goods_img, goods_type.goods_type FROM goods, goods_type WHERE goods.goods_type_id = goods_type.id AND goods.goods_name = #{0}
    </select>

    <select id="findOneById" resultType="com.wm.pojo.Goods">
        SELECT goods.id, goods.wh_value, goods.num, goods.create_time, goods.update_time, goods.goods_name, goods.goods_price, goods.goods_img, goods_type.goods_type FROM goods, goods_type WHERE goods.goods_type_id = goods_type.id AND goods.id = #{0}
    </select>

    <select id="findDetails" resultType="com.wm.pojo.RepositoryDetails">
        SELECT repository.capacity, goods.wh_value, goods_name FROM repository, goods WHERE repository.id = #{0} AND goods.wh_value LIKE #{1}
    </select>

    <select id="findGoodsByTypeId" resultType="com.wm.pojo.Goods">
        select * from goods where goods_type_id = #{0}
    </select>

    <select id="findGoodsByCKId" resultType="com.wm.pojo.Goods">
        select id, wh_value, num, create_time, update_time, goods_name, goods_price from goods where wh_value like #{0}
    </select>

</mapper>